In [1]:
# Linear Interpolation

In [2]:
# Coordinates for x_1 and y_1
x1 = 0
y1 = 0

# Coordinates for x_2 and y_2
x2 = 10
y2 = 100

In [3]:
# Select an x value half way between x2 and x1 on the x-axis
x = ((x2 - x1)/2) + x1

# View x
x

5.0

In [4]:
# Create a function
def interpolate_y(x, x1, y1, x2, y2):
    
    # Linear interpolation formula
    y = y1 + ((y2 - y1)/(x2 - x1)) * (x - x1)
    
    # Return y
    return y

In [5]:
# Interpolate y
y = interpolate_y(x, x1, y1, x2, y2)

In [6]:
x

5.0

In [7]:
y

50.0

# Trimmed Mean

In [8]:
# Import libraries
import pandas as pd
from scipy import stats

In [9]:
# Create dataframe with two extreme values
data = {'name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy', 'Bob', 'Jack', 'Jill', 'Kelly', 'Mark', 'Kao', 'Dillon'], 
        'score': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100, 100]
       }
df = pd.DataFrame(data)
df

      name  score
0    Jason      1
1    Molly      2
2     Tina      3
3     Jake      4
4      Amy      5
5      Bob      6
6     Jack      7
7     Jill      8
8    Kelly      9
9     Mark     10
10     Kao    100
11  Dillon    100

In [15]:
# Calculate non-trimmed mean
df['score'].mean()

21.25

In [ ]:
stats.trim_mean()

In [11]:
# Trim off the 20% most extreme scores (lowest and highest)
stats.trim_mean(df['score'], proportiontocut=0.2)

6.5

In [12]:
# Trim off the 20% most extreme scores and view the non-trimmed values
stats.trimboth(df['score'], proportiontocut=0.2)

array([ 3,  5,  4,  6,  7,  8,  9, 10], dtype=int64)

In [13]:
# Trim off the highest 20% of values and view trimmed mean
stats.trim1(df['score'], proportiontocut=0.2, tail='right').mean()

5.5

In [14]:
# Trim off the highest 20% of values and view non-trimmed values
stats.trim1(df['score'], proportiontocut=0.2, tail='right')

array([ 1,  3,  2,  4,  5,  6,  7,  9,  8, 10], dtype=int64)