# Continue And Break Loops

In [1]:
import random

In [2]:
# set running to true
running = True

In [3]:
# while running is true
while running:
    # Create a random integer between 0 and 5
    s = random.randint(0,5)
    # If the integer is less than 3
    if s < 3:
        # Print this
        print('It is too small, starting over.')
        # Reset the next interation of the loop
        # (i.e skip everything below and restart from the top)
        continue
    # If the integer is 4
    if s == 4:
        running = False
        # Print this
        print('It is 4! Changing running to false')
    # If the integer is 5,
    if s == 5:
        # Print this
        print('It is 5! Breaking Loop!')
        # then stop the loop
        break

It is too small, starting over.
It is too small, starting over.
It is too small, starting over.
It is 5! Breaking Loop!

# Partial Function Applications

In [4]:
from functools import partial

In [5]:
def multiply(x, y):
    return x * y

In [6]:
double = partial(multiply, y=2)

In [7]:
double(3)

6

# Convert HTML Characters To Strings

In [9]:
import html

In [10]:
text = 'This item costs &#165;400 or &#163;4.'

In [11]:
html.unescape(text)

'This item costs ¥400 or £4.'

In [12]:
html.escape(text)

'This item costs &amp;#165;400 or &amp;#163;4.'

# Priority Queues

In [13]:
import heapq

In [14]:
# Create a priority queue abstract base class
class priority_queue:
    # Initialize the instance
    def __init__(self):
        # Create a list to use as the queue
        self._queue = []
        # Create an index to use as ordering
        self._index = 0

    # Create a function to add a task to the queue
    def add_task(self, item, priority):
        # Push the arguments to the _queue using a heap
        heapq.heappush(self._queue, (-priority, self._index, item))
        # Add one to the index
        self._index += 1

    # Create a function to get the next item from the queue
    def next_task(self):
        # Return the next item in the queue
        return heapq.heappop(self._queue)[-1]
# Create a priority queue called task_list
task_list = priority_queue()

In [15]:
# Add an item to the queue
task_list.add_task('Clean Dishes', 1)

# Add an item to the queue
task_list.add_task('Wash Car', 2)

# Add an item to the queue
task_list.add_task('Walk Dog', 3)

In [16]:
# Retrieve items from the queue
task_list.next_task()

'Walk Dog'

In [17]:
# Retrieve items from the queue
task_list.next_task()

'Wash Car'

In [18]:
# Retrieve items from the queue
task_list.next_task()

'Clean Dishes'

# Create A New File Then Write To It

In [19]:
# Create a file if it doesn't already exist
with open('file.txt', 'xt') as f:
    # Write to the file
    f.write('This file now exsits!')
    # Close the connection to the file
    f.close()

In [20]:
# Open the file
with open('file.txt', 'rt') as f:
    # Read the data in the file
    data = f.read()
    # Close the connection to the file
    f.close()

In [21]:
# View the data in the file
data

'This file now exsits!'

In [22]:
# Import the os package
import os

# Delete the file
os.remove('file.txt')

# Queues And Stacks

In [23]:
from collections import deque

In [24]:
# Option 1: Make a queue
queue = deque(range(10))

# Option 2: Make a queue that, if full, discards any item at the 
# opposite end to where you added an item.
queue = deque(range(10), maxlen=10)

In [25]:
# Append an item to the right

queue.append('A')

# View queue
queue

deque([1, 2, 3, 4, 5, 6, 7, 8, 9, 'A'])

In [26]:
# Append an item to the left

queue.appendleft('A')

# View queue
queue

deque(['A', 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [28]:
# Count occurances of item
queue.count('A')

# View queue
queue

1

In [29]:
# Remove and return right-most item
queue.pop()

# View queue
queue

deque(['A', 1, 2, 3, 4, 5, 6, 7, 8])

In [30]:
# Remove and return left-most item
queue.popleft()


# View queue
queue

deque([1, 2, 3, 4, 5, 6, 7, 8])

In [31]:
# Insert item to the right of an item
queue.insert(2, 'A')

# View queue
queue

deque([1, 2, 'A', 3, 4, 5, 6, 7, 8])

In [32]:
# Reverse the queue
queue.reverse()

# View queue
queue

deque([8, 7, 6, 5, 4, 3, 'A', 2, 1])

In [33]:
# Delete all items
queue.clear()

# View queue
queue

deque([])

# Converting Strings To Datetime

In [34]:
from datetime import datetime
from dateutil.parser import parse
import pandas as pd

In [35]:
war_start = '2011-01-03'

In [36]:
datetime.strptime(war_start, '%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [37]:
attack_dates = ['7/2/2011', '8/6/2012', '11/13/2013', '5/26/2011', '5/2/2001']

In [38]:
[datetime.strptime(x, '%m/%d/%Y') for x in attack_dates]

[datetime.datetime(2011, 7, 2, 0, 0),
 datetime.datetime(2012, 8, 6, 0, 0),
 datetime.datetime(2013, 11, 13, 0, 0),
 datetime.datetime(2011, 5, 26, 0, 0),
 datetime.datetime(2001, 5, 2, 0, 0)]

In [39]:
parse(war_start)

datetime.datetime(2011, 1, 3, 0, 0)

In [40]:
[parse(x) for x in attack_dates]

[datetime.datetime(2011, 7, 2, 0, 0),
 datetime.datetime(2012, 8, 6, 0, 0),
 datetime.datetime(2013, 11, 13, 0, 0),
 datetime.datetime(2011, 5, 26, 0, 0),
 datetime.datetime(2001, 5, 2, 0, 0)]

In [41]:
parse(war_start, dayfirst=True)

datetime.datetime(2011, 3, 1, 0, 0)

In [42]:
data = {'date': ['2014-05-01 18:47:05.069722', '2014-05-01 18:47:05.119994', '2014-05-02 18:47:05.178768', '2014-05-02 18:47:05.230071', '2014-05-02 18:47:05.230071', '2014-05-02 18:47:05.280592', '2014-05-03 18:47:05.332662', '2014-05-03 18:47:05.385109', '2014-05-04 18:47:05.436523', '2014-05-04 18:47:05.486877'], 
        'value': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
df = pd.DataFrame(data, columns = ['date', 'value'])
print(df)

                         date  value
0  2014-05-01 18:47:05.069722      1
1  2014-05-01 18:47:05.119994      1
2  2014-05-02 18:47:05.178768      1
3  2014-05-02 18:47:05.230071      1
4  2014-05-02 18:47:05.230071      1
5  2014-05-02 18:47:05.280592      1
6  2014-05-03 18:47:05.332662      1
7  2014-05-03 18:47:05.385109      1
8  2014-05-04 18:47:05.436523      1
9  2014-05-04 18:47:05.486877      1

In [43]:
pd.to_datetime(df['date'])

0   2014-05-01 18:47:05.069722
1   2014-05-01 18:47:05.119994
2   2014-05-02 18:47:05.178768
3   2014-05-02 18:47:05.230071
4   2014-05-02 18:47:05.230071
5   2014-05-02 18:47:05.280592
6   2014-05-03 18:47:05.332662
7   2014-05-03 18:47:05.385109
8   2014-05-04 18:47:05.436523
9   2014-05-04 18:47:05.486877
Name: date, dtype: datetime64[ns]

# Recursive Functions

In [44]:
print(5*4*3*2*1)

120

In [45]:
# Create a function inputing n, that,
def factorial(n):
    # if n is less than or equal to 1,
    if n <= 1:
        # return n,
        return n

    # if not, return n multiplied by the output
    # of the factorial function of one less than n
    return n*factorial(n-1)

# run the function
factorial(5)

120

# Create A Temporary File

In [46]:
from tempfile import NamedTemporaryFile

In [47]:
f = NamedTemporaryFile('w+t')

In [48]:
# Write to the file, the output is the number of characters
f.write('Nobody lived on Deadweather but us and the pirates. It wasn’t hard to understand why.')

85

In [49]:
f.name

'C:\\Users\\NAGARA~1\\AppData\\Local\\Temp\\tmpe_i5sh_j'

In [50]:
# Go to the top of the file
f.seek(0)

# Read the file
f.read()

'Nobody lived on Deadweather but us and the pirates. It wasn’t hard to understand why.'

In [51]:
f.close()

# Scheduling Jobs In The Future

In [52]:
# Import required modules
import sched
import time

# setup the scheduler with our time settings
s = sched.scheduler(time.time, time.sleep)

In [54]:
# Create a function we want to run in the future.
def print_time():
    print("Executive Order 66")
# Create a function for the delay
def print_some_times():
    # Create a scheduled job that will run
    # the function called 'print_time'
    # after 10 seconds, and with priority 1.
    s.enter(10, 1, print_time)
    
    # Run the scheduler
    s.run()

In [55]:
# Run the function for the delay
print_some_times()

Executive Order 66

# Data Structure Basics
Lists
“A list is a data structure that holds an ordered collection of items i.e. you can store a sequence of items in a list.” - A Byte Of Python

In [56]:
# Create a list of countries, then print the results
allies = ['USA','UK','France','New Zealand',
          'Australia','Canada','Poland']; allies

['USA', 'UK', 'France', 'New Zealand', 'Australia', 'Canada', 'Poland']

In [58]:
# Print the length of the list
len(allies)

7

In [59]:
# Add an item to the list, then print the results
allies.append('China'); allies

['USA',
 'UK',
 'France',
 'New Zealand',
 'Australia',
 'Canada',
 'Poland',
 'China']

In [60]:
# Sort list, then print the results
allies.sort(); allies

['Australia',
 'Canada',
 'China',
 'France',
 'New Zealand',
 'Poland',
 'UK',
 'USA']

In [61]:
# Reverse sort list, then print the results
allies.reverse(); allies

['USA',
 'UK',
 'Poland',
 'New Zealand',
 'France',
 'China',
 'Canada',
 'Australia']

In [62]:
# View the first item of the list
allies[0]

'USA'

In [63]:
# View the last item of the list
allies[-1]

'Australia'

In [64]:
# Delete the item in the list
del allies[0]; allies

['UK', 'Poland', 'New Zealand', 'France', 'China', 'Canada', 'Australia']

In [65]:
# Add a numeric value to a list of strings
allies.append(3442); allies

['UK', 'Poland', 'New Zealand', 'France', 'China', 'Canada', 'Australia', 3442]

In [66]:
#Tuple

In [67]:
# Create a tuple of state names
usa = ('Texas', 'California', 'Maryland'); usa

('Texas', 'California', 'Maryland')

In [68]:
# Create a tuple of countries
# (notice the USA has a state names in the nested tuple)
countries = ('canada', 'mexico', usa); countries

('canada', 'mexico', ('Texas', 'California', 'Maryland'))

In [69]:
# View the third item of the top tuple
countries[2]

('Texas', 'California', 'Maryland')

In [70]:
# View the third item of the third tuple
countries[2][2]

'Maryland'

In [71]:
#Dictionaries

In [72]:
# Create a dictionary with key:value combos
staff = {'Chris' : 'chris@stater.org',
         'Jake' : 'jake@stater.org',
         'Ashley' : 'ashley@stater.org',
         'Shelly' : 'shelly@stater.org'
        }
# Print the value using the key
staff['Chris']

'chris@stater.org'

In [73]:
# Delete a dictionary entry based on the key
del staff['Chris']; staff

{'Jake': 'jake@stater.org',
 'Ashley': 'ashley@stater.org',
 'Shelly': 'shelly@stater.org'}

In [74]:
# Add an item to the dictionary
staff['Guido'] = 'guido@python.org'; staff

{'Jake': 'jake@stater.org',
 'Ashley': 'ashley@stater.org',
 'Shelly': 'shelly@stater.org',
 'Guido': 'guido@python.org'}

In [75]:
#Sets

In [76]:
# Create a set of BRI countries
BRI = set(['brazil', 'russia', 'india'])
# Is India in the set BRI?
'india' in BRI

True

In [77]:
# Is the US in the set BRI?
'usa' in BRI

False

In [78]:
# Is the US in the set BRI?
'usa' in BRI

False

In [79]:
# Create a copy of BRI called BRIC
BRIC = BRI.copy()
# Add China to BRIC
BRIC.add('china')
# Is BRIC a super-set of BRI?
BRIC.issuperset(BRI)

True

In [80]:
# Remove Russia from BRI
BRI.remove('russia')

# What items are the union of BRI and BRIC?
BRI & BRIC

{'brazil', 'india'}

# Select Random Element From A List

In [81]:
from random import choice

In [82]:
# Make a list of crew members
crew_members = ['Steve', 'Stacy', 'Miller', 'Chris', 'Bill', 'Jack']

In [83]:
# Choose a random crew member
choice(crew_members)

'Miller'